.steam-bg {
    background-color: black;
    height: 314px;
    background-position: center;
    background-size: cover;
    background-image: url(../img/staam-bg.jpg);
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3.375rem;
    color: white;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.03em;
    line-height: 100%;
}

.header-logo {
    padding-bottom: 30px;
}

.test-bg {
    background-color: aqua;
}

.test-bg-2 {
    background-color: blue;
}

.buy-tab, .buy-tab-active {
    font-size: 2rem;
    font-weight: 500;
    margin-right: 30px;
    letter-spacing: -0.03em;
}

.buy-tab {
    opacity: .2;
}

.buy-tab-menu {
    margin-top: 50px;
}

.search-results-wrapper {
    background-color: #EBEDF1;
    padding: 10px !important;
    border-radius: 30px;
    margin-top: 20px;
}

.search-game-img {
    max-width: 120px;
    min-width: 120px;
    height: 45px;
    border-radius: 20px;
    background-color: black;
    padding: 0 !important;
    margin: 0px;
    background-size: cover;
}

.search-results-row {
    margin: 0 !important;
    padding: 10px;
}

.search-results-container {
    margin-top: 20px;
}

.search-game-name {
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 100%;
/* identical to box height, or 20px */

letter-spacing: -0.03em;

color: #000000;

    
}

.platform-icon {
    width: 24px;
height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.3;
}

.search-game-price {
    font-family: 'Raleway';
font-weight: 700;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */

text-align: right;
letter-spacing: -0.03em;
}

.discount-badge {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;

max-width: 52px;
height: 24px;

background: #1BC400;
border-radius: 20px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

text-align: center;
letter-spacing: -0.03em;

color: #FFFFFF;
}

.old-price {
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

text-align: right;
letter-spacing: -0.03em;
text-decoration-line: line-through;

color: #000000;

opacity: 0.4;
}






.search-wrapper {

    margin-top: 20px;
        display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

height: 52px;



background: #EBEDF1;
border-radius: 1000px;

}

.search-ico {
border-bottom: 0 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 1px !important;
}


.search-field {
   background-color: #EBEDF1 !important;
    border: 0 !important;
    
}

